.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local
daily
line
race
vertical
vertical-delta
vertical-continent
vertical-delta-continent
race-continent
line-continent
bubble-continent.json
bubble.json
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

**/*.pyc
.firebase
firebase.json
.firebaserc